a.active {
    color: #FF444A;
    text-decoration: underline;
}

.banner-container {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('/src/assets/Rectangle4281.png') center/cover no-repeat;
}


@media only screen and (max-width: 767px) {
    .nav-bg {
        background-color: #0051ff4d;
        color: white
    }

}

.detials-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
}

.hl_text {
    color: #0052FF;
}

.hl_back {
    background-color: #3b82f680;
}

.hl_btn {
    background-color: #0052FF33;
}

.hl_btn_bg {
    background-color: #0052FF;
}


.edu_text {
    color: #FF444A;
}

.edu_back {
    background-color: #FF444A26;
}

.edu_btn {
    background-color: #FF444A33;
}

.edu_btn_bg {
    background-color: #FF444A;
}

.cl_text {
    color: #79C23F;
}

.cl_back {
    background-color: #79C23F26;
}

.cl_btn {
    background-color: #79C23F33;
}

.cl_btn_bg {
    background-color: #79C23F;
}

.foo_text {
    color: #F87147;
}

.foo_back {
    background-color: #F8714726;
}

.foo_btn {
    background-color: #F8714733;
}

.foo_btn_bg {
    background-color: #F87147;
}