a.active {
    color: #FF444A;
    text-decoration: underline;
}

.banner-container {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('/src/assets/Rectangle4281.png') center/cover no-repeat;
    ;


}